    <div>
      <h4><em><span id="track_info"></span></em></h4>

      <table class="table text-center">
        <tr>
          <td></td>
          <td>
            <a class="btn btn-inverse btn-default btn-lg" id="volume_up">
              <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
            </a>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>
            <a class="btn btn-lg btn-primary" id="action_prev_track" role="button">
              <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </a>
          </td>
          <td>

            <a class="btn btn-lg btn-danger" id="action_pause" role="button" style="display: none;">
              <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </a>

            <a class="btn btn-lg btn-danger" id="action_play" role="button">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>

          </td>
          <td>
            <a class="btn btn-lg btn-primary" id="action_next_track" role="button">
              <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </a>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <a class="btn btn-inverse btn-default btn-lg" id="volume_down">
              <span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>
            </a>
          </td>
          <td></td>
        </tr>
      </table>

      <div class="progress">
        <div id="volume_value" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          Volume 100%
        </div>
      </div>
    </div>

<script>
  // web socket stuff

  var ws = new WebSocket('ws://' + window.location.host);
  ws.onopen  = function() { console.log("websocket opened!"); };
  ws.onclose = function() { console.log("server just went down!"); location.reload(); };
  ws.onmessage = function(m) {
    console.log("data received: " + m.data);

    if (m.data == "pause") {
      is_playing(false);
    } else if (!isNaN(parseFloat(m.data))) {
      $("#volume_value").attr("aria-valuenow", m.data);
      $("#volume_value").attr("style", "width: " + m.data + "%;");
      $("#volume_value").html("Volume: " + m.data + "%");
    } else {
      $('#track_info').html(get_90s(m.data));
      is_playing(true);
    }
  }

  // events

  function get_90s(title) {
    return '<marquee scrollamount="10">' + title + '</marquee>';
  }

  function is_playing(playing) {
    if (playing) {
      $("#action_pause").show();
      $("#action_play").hide();
    } else {
      $("#action_pause").hide();
      $("#action_play").show();
    }
  }

  $(document).ready(function(){
    // when page is loaded for the first time get artist and volume values

    $.get("/artist", function(data, status) {
      $('#track_info').html(get_90s(data));
      is_playing(data != "");
    });

    $.get("/volume", function(data, status) {
      $("#volume_value").attr("aria-valuenow", data);
      $("#volume_value").attr("style", "width: " + data + "%;");
      $("#volume_value").html("Volume: " + data + "%");
    });

    // button events

    $("#action_pause").click(function(){
      ws.send("pause");
    });

    $("#action_play").click(function(){
      ws.send("play");
    });

    $("#action_next_track").click(function(){
      ws.send("next_track");
    });

    $("#action_prev_track").click(function(){
      ws.send("prev_track");
    });

    $("#volume_up").click(function(){
      ws.send("volume_up");
    });

    $("#volume_down").click(function(){
      ws.send("volume_down");
    });
  });
</script>
