    <div>
      <h3><em><span id="track_info"></span></em></h3>

      <table class="table text-center">
        <tr>
          <td></td>
          <td>
            <a class="btn btn-inverse btn-default btn-lg player" id="volume_up">
              <span title="volume up" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
            </a>
          </td>
          <td></td>
        </tr>

        <tr>
          <td>
            <a class="btn btn-lg btn-primary player" id="player_prev_track" role="button">
              <span title="previous track" class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </a>
          </td>
          <td>

            <a class="btn btn-lg btn-danger player" id="player_pause" role="button" style="display: none;">
              <span title="pause" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </a>

            <a class="btn btn-lg btn-danger player" id="player_play" role="button">
              <span title="play" class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </a>

          </td>
          <td>
            <a class="btn btn-lg btn-primary player" id="player_next_track" role="button">
              <span title="next track" class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </a>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <a class="btn btn-inverse btn-default btn-lg player" id="volume_down">
              <span title="volume down" class="glyphicon glyphicon-volume-down" aria-hidden="true"></span>
            </a>
          </td>
          <td></td>
        </tr>
      </table>

      <div class="progress">
        <div id="volume_value" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          Volume 100%
        </div>
      </div>

      <div class="text-center" id="lyrics">
        <a class="btn btn-success btn-default btn-lg" id="show_lyrics">
          <span title="lyrics" class="glyphicon glyphicon-align-left" aria-hidden="true"></span> lyrics
        </a>
        <br><br>
        <div id="lyrics_text" style="display: none;">
        </div>
      </div>
    </div>

<script>
  function go_90s(title) {
    return '<marquee scrollamount="10">' + title + '</marquee>';
  }

  function switch_to_play(playing) {
    if (playing) {
      $('#player_pause').show();
      $('#player_play').hide();

      // change title
      document.title = 'rubomote 🔈🎶'
    } else {
      $('#player_pause').hide();
      $('#player_play').show();

      document.title = 'rubomote 🔈'
    }
  }

  $(document).ready(function(){
    show_lyrics = false;
    song_title = '';

    // when browser window is on focus request track name and volume
    window.onfocus = function () {
      if (ws.readyState === ws.OPEN)
        ws.send('status');
    };

    window.onload = function() {
      //create a new instance of shake.js.
      var myShakeEvent = new Shake({
        threshold: 15
      });
      // start listening to device motion
      myShakeEvent.start();
      // register a shake event
      window.addEventListener('shake', shakeEventDidOccur, false);
      //shake event callback
      function shakeEventDidOccur () {
        // when smartphone is shaking go to next track
        if (ws.readyState === ws.OPEN)
          ws.send('player_next_track');
      }
    };

    // web socket stuff

    var ws = new WebSocket('ws://' + window.location.host + '/auth/<%= Base64.urlsafe_encode64(settings.session_secret) %>');
    ws.onopen  = function() { console.log('[!] successfully connected to WebSocket server!'); };
    ws.onclose = function() { console.log('[!] WebSocket server went down!'); location.reload(); };
    ws.onmessage = function(m) {
      console.log('[?] data received: ' + m.data);

      var server_message = JSON.parse(m.data);

      if (server_message.hasOwnProperty('volume_value')) {
        $('#volume_value').attr('aria-valuenow', server_message['volume_value']);
        $('#volume_value').attr('style', 'width: ' + server_message['volume_value'] + '%;');
        $('#volume_value').html('Volume ' + server_message['volume_value'] + '%');
      }

      if (server_message.hasOwnProperty('current_track')) {
        // if song changed then remove the lyrics and set the new title
        // on top of the page

        if (song_title != server_message['current_track']) {
          $('#lyrics_text').html('<pre>loading...</pre>');
          $('#lyrics_text').attr('style', 'display: none;');

          show_lyrics = false;
          song_title = server_message['current_track'];

          $('#track_info').html(go_90s(server_message['current_track']));
        }

        switch_to_play(true);
      }

      if (server_message.hasOwnProperty('playing')) {
        switch_to_play(server_message['playing']);
      }

      if (server_message.hasOwnProperty('lyrics')) {
        $('#lyrics').attr('style', 'display: block;');
        $('#lyrics_text').html('<pre>' + server_message['lyrics'] + '</pre><h4>downloaded from <a href="https://genius.com" target="_blank">genius.com</a></h4>');
      }
    }

    // button events

    $('#show_lyrics').click(function(){
      show_lyrics = !show_lyrics;

      if (show_lyrics) {
        $('#lyrics_text').attr('style', 'display: block;');

        if (ws.readyState === ws.OPEN)
          ws.send('lyrics');
      } else {
        $('#lyrics_text').attr('style', 'display: none;');
      }
    });

    $(".player").click(function(){
      // when clicked volume up button and volume is already to max then do not
      // send request to the server, same thing for volume down button

      if (ws.readyState === ws.OPEN &&
          !(this.id == 'volume_up' && $('#volume_value').text() == 'Volume 100%') &&
          !(this.id == 'volume_down' && $('#volume_value').text() == 'Volume 0%')) {
        ws.send(this.id);
      }
    });
  });
</script>
