    <h1>RuboMote</h1>

    <h4>Enter the <%= PIN_LENGTH %> digit PIN generated at runtime:</h4>

    <p>
      <form action="/login" method="post" class="form-inline">
      <% PIN_LENGTH.times do |field| %>
        <select class="form-control" name="pin<%= field %>">
        <% 10.times do |digit| %>
          <option><%= digit %></option>
        <% end %>
        </select>
      <% end %>

      <button type="submit" class="btn btn-success btn-sm">Verify</button>
      </form>
    </p>
