    <h4>Enter the <%= settings.pin_length %> digit PIN shown in the terminal:</h4>

    <div>
      <form action="/login" method="post" class="form-inline">
      <% settings.pin_length.times do |field| %>
        <select class="form-control" name="pin<%= field %>">
        <% 10.times do |digit| %>
          <option><%= digit %></option>
        <% end %>
        </select>
      <% end %>

      <button type="submit" class="btn btn-success btn-sm">Verify</button>
      </form>
    </div>

    <br>
